#welcome-bg-img{
    background-image: url("https://images.pexels.com/photos/262367/pexels-photo-262367.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 55px);
    width: 100%;
}